.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content-wrapper {
    padding: 40px;
    margin-bottom: 40px;
}

.content-title {
    font-size: 32px;
    font-weight: var(--bold);
}

.search {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 16px 18px;
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
}

.icon-search {
    margin-right: 14px;
}